<style>
    .custom-rounded-right {
        border-radius: 0 30% 0 30%;
    }

    .custom-rounded-left {
        border-radius: 30% 0 30% 0;
    }
</style>
@*------------------------- Intro Start ----------------------------*@
<section class="min-h-[90vh]">
    <div class="px-12 py-14 flex flex-col items-center">
        <div class="text-center align-middle mb-8">
            <h1 class="text-5xl font-bold mb-4" style="font-family: 'Times New Roman', Times, serif;">
                <p>Enjoy Your Favorite</p>
                <span class="text-[#7F5539]">Coffee</span> with <span class="text-[#7F5539]">Cuppa.</span>
            </h1>
            <p class="text-sm mx-auto mb-6">
            <p>Welcome to Cuppa, Your ultimate coffee destination! Indulge in our carefully crafted brews</p>
            <p>savor the rich aromas, and enjoy a cozy ambiance perfect for coffee lovers. From classic</p>
            <p>espressos to delightful lattes, every cup is brewed to perfection. Join us for an exceptional</p>
            <p>coffee experience</p>
            </p>
            <button
                class="bg-[#7F5539] mt-4 text-white rounded-lg px-8 py-3 hover:bg-[#692d05] transition duration-300">
                Explore Now
            </button>
        </div>
        <div class="flex justify-center w-full space-x-4">
            <img src="assets/Landing/Coffee1.jpg" class="w-1/2 h-[250px] object-cover custom-rounded-right"
                alt="Coffee Image" />
            <img src="assets/Landing/Coffee2.jpg" class="w-1/2 h-[250px] object-cover custom-rounded-left"
                alt="Coffee Image" />
            <img src="assets/Landing/Coffee3.jpg" class="w-1/2 h-[250px] object-cover custom-rounded-right"
                alt="Coffee Image" />
            <img src="assets/Landing/Coffee4.jpg" class="w-1/2 h-[250px] object-cover custom-rounded-left"
                alt="Coffee Image" />
            <img src="assets/Landing/Coffee3.jpg" class="w-1/2 h-[250px] object-cover custom-rounded-right"
                alt="Coffee Image" />
            <img src="assets/Landing/Coffee5.jpg" class="w-1/2 h-[250px] object-cover custom-rounded-left"
                alt="Coffee Image" />
        </div>
    </div>
</section>
@*------------------------- Intro End ----------------------------*@
@*------------------------- Spaces tart ----------------------------*@
<section class="min-h-[100vh]">
    <div class="text-center py-2 align-middle mb-4">
        <h1 class="text-5xl font-bold mb-4" style="font-family: 'Times New Roman', Times, serif;">
            <p>Choose Your</p>
            <span class="text-[#7F5539]">Coffee</span> and <span class="text-[#7F5539]">Space!</span>
        </h1>
        <p class="text-sm mx-auto mb-6">
        <p>Since 2024, Cuppa has been serving over 25,000+ cups of coffee, offering a cozy and</p>
        <p>productive space for our valued customers</p>
        </p>
    </div>
    <div class="flex gap-2 px-8">
        <div class="flex flex-col w-full gap-4">
            <img src="assets/Landing/Space1.jpg" class="w-full h-[350px] object-cover rounded-md" />
            <img src="assets/Landing/Space2.jpg" class="w-full h-[350px] object-cover rounded-md" />
        </div>
        <div class="flex flex-col gap-4 w-full pt-28">
            <img src="assets/Landing/Space3.jpg" class="w-full h-[350px] object-cover rounded-md" />
            <img src="assets/Landing/Space4.jpg" class="w-full h-[350px] object-cover rounded-md" />
        </div>
    </div>
    <div class="mt-36 max-w-7xl mx-auto text-center px-12">
        <div class="flex justify-between items-center border-t-2 border-b-2 border-gray-400 p-8 ">
            <div class="flex-1">
                <h2 class="text-4xl font-bold text-black">25+</h2>
                <p class="text-black mt-2">Coffee Varient</p>
            </div>
            <div class="w-px border-l border-gray-500 h-16"></div>
            <div class="flex-1">
                <h2 class="text-4xl font-bold text-black">30+</h2>
                <p class="text-black mt-2">Meeting room</p>
            </div>
            <div class="w-px border-l border-gray-500 h-16"></div>
            <div class="flex-1">
                <h2 class="text-4xl font-bold text-black">20+</h2>
                <p class="text-black mt-2">Event Space</p>
            </div>
            <div class="w-px h-16 border-l border-gray-500"></div>
            <div class="flex-1">
                <h2 class="text-black font-bold text-4xl">15+</h2>
                <p class="text-black mt-2">Global Achievement</p>
            </div>
        </div>
    </div>
</section>
@*------------------------- Spaces End ----------------------------*@
@*------------------------- Our Products Start ----------------------------*@
<section class="mt-24">
    <div class="text-center align-middle mb-14">
        <h1 class="text-5xl font-bold mb-4" style="font-family: 'Times New Roman', Times, serif;">
            <span>Our </span><span class="text-[#7F5539]">Products</span>
        </h1>
        <p class="text-sm mx-auto mb-6">
        <p>Enjoy premium blends from bold expressos to creamy lattes, each crafted from the finest beans</p>
        <p>for a delightful experience</p>
        </p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 px-12">
        @foreach(var product in products)
        {
            <div class="max-w-xs rounded-xl shadow-lg overflow-hidden">
                <img src="@product.Image" alt="@product.Name"
                    class="object-cover w-full h-56 custom-rounded-left">
                <div class="p-6">
                    <div class="flex justify-between items-center">
                        <h3 class="text-lg font-bolld mb-2">@product.Name</h3>
                        <div>
                            <span class="text-yellow-500">★</span>
                            <span class="ml-2 text-sm">@product.Rating</span>
                        </div>
                    </div>
                    <p class="text-sm mb-4 line-clamp-3">@product.Description</p>
                    @if(product.Description.Length > 100){
                        <button class="text-blue-500 text-sm" @onclick="(() => ShowMore(product))">See more</button>
                    }
                    <div class="flex justify-between items-center">
                        <span class="text-lg font-bold">@product.Price</span>
                        <button class="bg-orange-300 text-xl text-white px-4 py-1 rounded-xl">+</button>
                    </div>
                </div>
            </div>
        }
    </div>
    @* Pop-Up Modal *@
    @if(showModal){
        <div>
            <div>
                <h3>@selectedProduct.Name</h3>
                <p>@selectedProduct.Description</p>
                <button>Close</button>
            </div>
        </div>
    }
</section>
@*------------------------- Our Products End ---------------------------------*@

@*------------------------- About us section start ----------------------------*@
<section class="mt-24">
    <div class="text-center align-middle mb-14">
        <h1 class="text-5xl font-bold mb-12" style="font-family: 'Times New Roman', Times, serif;">
            <span>About</span><span class="text-[#7F5539]">Us</span>
        </h1>
        <p class="text-sm mx-auto mb-6">
        <p>Crafting exceptional coffee experience since 2024. At Cuppa, every cup is brewed to</p>
        <p>perfection for our valued customers.</p>
        </p>
    </div>
    <div class="px-12">
        <div class="flex justify-between items-center">
            <!-- Text Section -->
            <div class="max-w-3xl mt-11 text-center lg:text-left">
                <p class="mb-6">
                    Since 2024, Cuppa has been dedicated to crafting exceptional coffee experiences. We pride ourselves
                    on using only the finest beans. Each cup is brewed to perfection for our valued customers.
                </p>
                <p class="mb-6">
                    Our cozy and inviting atmosphere makes Cuppa the perfect place to relax or work. We aim to create a
                    welcoming space where you can enjoy your favorite coffee. Join us and experience the warmth of
                    Cuppa.
                </p>
                <p>
                    At Cuppa, we serve more than just coffee; we create moments of joy and connection. Our passionate
                    baristas are committed to delivering quality in every cup. Come savor the unique flavors of our
                    expertly crafted beverages.
                </p>
            </div>
            <!-- Image Section -->
            <div class="flex gap-3 justify-center mt-8">
                <img class="w-[300px] h-[350px] object-cover custom-rounded-left" src="/assets/About/Us1.jpg"
                    alt="about image">
                <img class="w-[300px] h-[350px] object-cover custom-rounded-right" src="/assets/About/Us2.jpg"
                    alt="about image">
            </div>
        </div>
    </div>

</section>
@*------------------------- About Us End ----------------------------*@

@*------------------------- Testimonials section start ----------------------------*@
<section class="mt-24">
    <div class="text-center align-middle mb-14">
        <h1 class="text-5xl font-bold mb-12" style="font-family: 'Times New Roman', Times, serif;">
            <span>Testimonials</span>
        </h1>
        <p class="text-sm mx-auto mb-6">
        <p>Hear from our satisfied customers who love our coffee and cozy atmosphere. Their stories </p>
        <p>highlight the exceptional experiences they’ve enjoyed at Cuppa</p>
        </p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 px-12">
        @foreach(var testimonial in testimonials) {
            <div class="border-2 border-gray-200 max-w-xs overflow-hidden shadow-lg p-4 bg-[#fdf8f3]">
                <div class="flex items-center space-x-4">
                    <img class="object-cover rounded-full w-12 h-12" src="@testimonial.Image" alt="@testimonial.Name">
                    <div class="flex-col">
                        <span class="text-lg font-bold">@testimonial.Name</span>
                        <div class="flex items-center space-x-1">
                            <span class="text-yellow-500">★</span>
                            <span class="text-sm">@testimonial.Rating</span>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <p class="text-sm text-gray-600">
                        @testimonial.Description
                    </p>
                </div>
            </div>
        }
    </div>
</section>
@*------------------------- Testimonials section End ----------------------------*@

@*------------------------- Blogs section Start ----------------------------*@
<section class="mt-24">

</section>
@*------------------------- Blogs section End ----------------------------*@

@*------------------------- Location section Start ----------------------------*@
<section class="mt-24">

</section>
@*------------------------- Location section End ----------------------------*@

@code
{
    private List<Products> products = new List<Products>{
        new Products { Name = "Chocolate Latte", Rating = 4.5, Description = "Lorem ipsum dolor sit amet consectetur...", Price = "Rs. 250", Image = "assets/Products/Product1.jpg" },
        new Products { Name = "Capuccino", Rating = 4.5, Description = "Lorem ipsum dolor sit amet consectetur...", Price = "Rs. 250", Image = "assets/Products/Product4.jpg" },
        new Products { Name = "Mocha Latte", Rating = 4.5, Description = "Lorem ipsum dolor sit amet consectetur...", Price = "Rs. 250", Image = "assets/Products/Product2.jpg" },
        new Products { Name = "Latte", Rating = 4.5, Description = "Lorem ipsum dolor sit amet consectetur...", Price = "Rs. 250", Image = "assets/Products/Product3.jpg" }
    };
    
    private List<Testimonials> testimonials = new List<Testimonials>{
        new Testimonials{Name="Jhon Doe", Description="Lorem this and that. I don't give a fuck sheesh. Sibal hareko harae xu",Image="assets/Testimonials/Person1.jpg", Rating=5},
        new Testimonials{Name="Mangney Buda", Description="Lorem this and that. I don't give a fuck sheesh. Sibal hareko harae xu",Image="assets/Testimonials/Person2.jpg", Rating=5},
        new Testimonials{Name="Harkey Hawaldar", Description="Lorem this and that. I don't give a fuck sheesh. Sibal hareko harae xu",Image="assets/Testimonials/Person3.jpg", Rating=5},
        new Testimonials{Name="Dhurmus", Description="Lorem this and that. I don't give a fuck sheesh. Sibal hareko harae xu",Image="assets/Testimonials/Person4.jpg", Rating=5},
    };
    private bool showModal = false;
    private Products? selectedProduct;

    private void ShowMore(Products products){
        selectedProduct = products;
        showModal = true;
    }

    private void CloseModal()
    {
        showModal = false;
        selectedProduct = null;
    }

    public class Products{
        public string Name {get; set;}
        public double Rating { get; set; }
        public string Description { get; set; }
        public string Price { get; set; }
        public string Image { get; set; }
    }

    public class Testimonials{
        public string Name {get; set;}
        public double Rating {get; set;}

        public string Description {get; set;}

        public string? Image {get; set;}
    }
}